extends ./layout

block content
  .pb-2.mt-2.mb-4.border-bottom.d-flex
    h3
      = title
    div.flex-grow-1
  .row
    .col-md-9
      .card.mb-4
        .card-header Live Stream
        .card-body
          div(id="mse")
          script(src="//cdn.jsdelivr.net/npm/xgplayer/browser/index.js" charset="utf-8")
          script(src="//cdn.jsdelivr.net/npm/xgplayer-flv.js/browser/index.js" charset="utf-8")
          script(type="text/javascript")
            | let player = new window.FlvJsPlayer({
            |     id: 'mse',
            |     isLive: true,
            |     playsinline: true,
            |     url: '#{playbackUrl}',
            |     autoplay: #{user.profile.isLive ? true : false},
            |     poster: '/#{user.profile.picture}',
            |     fluid: true
            | });
      .card.mb-4
        .card-header Store Description
        .card-body
          = user.profile.storeDescription
      .card.mb-4
        .card-header Products
        .card-body
          .row
            each val in products.docs
              .col-md-4
                .card
                  div(class="thumbnail-wrapper")
                    div(class="thumbnail-wrapper__img", style="background-image:url(/" + val.photos[0] || 'noimg.jpg' + ")")
                  .card-body
                    h5(class="card-title")
                      = val.name
                    p(class="text-muted")
                      | ₱
                      = parseFloat(val.price).toFixed(2)
                    p
                      = val.description
          .row
            .col-md-12.pt-4
              ul.pagination
                if page > 1
                  li.page-item
                      a.page-link(href=`?page=${page - 1}`) Previous
                - var i = 1;
                while i <= pagesCount
                  li.page-item
                      a.page-link(href=`?page=${i}`)= i++
                if page < pagesCount
                  li.page-item
                      a.page-link(href=`?page=${parseInt(page) + 1}`) Next
    .col-md-3
      div(class='card mb-4')
        div(class="thumbnail-wrapper")
          div(class="thumbnail-wrapper__img", style="background-image:url(/" + user.profile.picture || 'noimg.jpg' + ")")
      div(class="card")
        div(class="card-body")
          p(class="mb-0")
            strong Location: 
            =  user.profile.location
          hr
          p(class="mb-0")
              strong Email: 
              =  user.email
          hr
          p(class="mb-0")
              strong Mobile Number: 
              =  user.profile.mobileNumber
          hr
          p(class="mb-0")
            a(href=user.profile.facebook class="mr-2")
              i(class="fab fa-facebook-messenger")
              span Facebook
            a(href=user.profile.website)
              i(class="fas fa-link")
              span Website